@import '../../../../../../../css/colors';

.aorbChoiceForm {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

    .aorbForm {
        display: flex;
        align-items: center;

        .inputs {
            margin-right: 0.5rem;
        }

        div {
            display: flex;
            align-items: center;

            label {
                margin-bottom: 0;
                margin-left: 0.3rem;
            }

            input {
                width: 100%;
                border: none;

                margin-left: 0.3rem;
                margin-right: 0.3rem;
                text-overflow: ellipsis;
            }
        }

        .aInputGroup,
        .bInputGroup {
            color: $stessaluna-exercise-default;
            border: 1px solid $stessaluna-exercise-default;
            background: $stessaluna-exercise-default-bg;

            input {
                padding: 0;
                color: $stessaluna-exercise-default-text;
                background: unset;

                &:focus {
                    outline: none;
                }
            }
        }

        .aInputGroup {
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }

        .bInputGroup {
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .insertButton {
            font-size: 1.5rem;
            padding: 0;
            border: none;
            outline: none;
        }
    }
}