@import "../../../../../css/colors";

.missingwordExerciseInput {


    .sentence {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;

        .textBefore,
        .textAfter {
            text-align: center;
            min-width: 70%;
            max-width: 100%;

            vertical-align: top;

            // testing textarea...
            border: none;
            padding: 0;
            // white-space: nowrap;

            border: 1px solid #ced4da;
            border-radius: 0.5rem;
            padding: 0.2rem;
        }
    }

    .missingWord {
        font-weight: bold;
        padding: 0.2rem;
        margin: 0.5rem 0;
    }

    .option {
        display: flex;
        align-items: center;
        position: relative;

        border: 1px solid $stessaluna-exercise-default;
        border-radius: 0.5rem;

        background-color: $stessaluna-exercise-default-bg;

        overflow: hidden;

        $offset: 1px;

        .checkbox {
            position: relative;
            display: block;
            margin: 0 0.4rem;
            min-width: 1rem;
            min-height: 1rem;

            input[type="checkbox"] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            &:hover input~.checkmark {
                background-color: $stessaluna-exercise-default;
            }

            input[type="checkbox"]:checked~.checkmark {
                border: 1px solid $stessaluna-exercise-correct;
                background-color: $stessaluna-exercise-correct;
            }

            .checkmark {
                border: 1px solid $stessaluna-exercise-default;
                border-radius: 0.3rem;

                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: white;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;

                    top: 2px;
                    left: 5px;

                    width: 5px;
                    height: 10px;

                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(40deg);
                    -ms-transform: rotate(40deg);
                    transform: rotate(40deg);
                }
            }

            input:checked~.checkmark:after {
                display: block;
            }
        }


        &.left {
            // The +1px is to compensate for the border increase later on.
            margin: 1px calc(1px + 0.5rem) 1px 1px;
        }

        &.right {
            // The +1px is to compensate for the border increase later on.
            margin: 1px 1px 1px calc(1px + 0.5rem);
        }

        input {
            border: none;
            outline: none;
            background-color: inherit;

            // override the browser's default 'min-width: auto' on input
            // elements because their default size outgrows my flex container..
            min-width: 0;

            width: 100%;
            padding: 0.2rem;
            padding-left: 0;

            cursor: text;
            line-height: 1.8rem;

            &::placeholder {
                color: $stessaluna-exercise-default;
            }

        }

        &.correct {
            border: 2px solid $stessaluna-exercise-correct;
            background-color: $stessaluna-exercise-correct-bg;

            // Remove the +1px from earlier
            margin: 0 0.5rem;

            label {
                color: $stessaluna-exercise-correct;
            }

            input::placeholder {
                color: $stessaluna-exercise-correct;
            }
        }

        &.correct {

            // Remove the +1px from earlier
            &.left {
                margin: 0 0.5rem 0 0;
            }

            &.right {
                margin: 0 0 0 0.5rem;
            }
        }
    }

    .hint {
        text-align: center;
        font-style: italic;
        font-size: 0.85rem;
    }
}