@import '../../../../../../../../css/colors';

.aorbElement {

    line-height: 1.5rem;

    cursor: default;

    .a,
    .b {
        display: inline-block;
        border: 1px solid $stessaluna-aorb-default;
        background: $stessaluna-aorb-default-bg;

        // i hope this does not break anything in slatejs
        user-select: none;

        cursor: pointer;

        &.correct {
            // border: 1px solid $stessaluna-aorb-correct;
            // background: $stessaluna-aorb-correct-bg;

            border: 2px solid $stessaluna-aorb-correct;
            background: $stessaluna-aorb-correct-bg;

            margin: 0;
            padding: 0;

            .label {
                color: $stessaluna-aorb-correct;
            }
        }

        .label {
            color: $stessaluna-aorb-default;
            padding: 0 0.4rem;
        }

        .content {
            display: inline-block;
            padding-right: 0.4rem;
            color: $stessaluna-aorb-default-text;
        }
    }

    .a {
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: 1px;
        margin-left: 1px;
    }

    .b {
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        margin-right: 1px;
        padding-left: 1px;
    }
}