@import "assets/css/colors";

.postToolbar {
    padding: 0 1rem 1rem 1rem;

    display: flex;
    justify-content: flex-start;

    button {
        background: none;
        border: none;
        padding: 0;
        outline: none;

        &:disabled {
            color: unset;
        }
    }

    .likeIcon, .dislikeIcon, .commentIcon {

        margin-right: 1rem;

        svg {
            width: 22px;
            height: 22px;
            margin-right: 0.3rem;

            path {
                stroke: grey;
            }
        }

        &.voted {
            color: $brand-light;

            svg {
                path {
                    stroke: $brand-light;
                    fill: $stessaluna-exercise-default-bg;
                }
            }
        }

        @media (hover: hover) {
            &:hover {
                color: $brand-light;

                svg {
                    path {
                        stroke: $brand-light;
                        fill: $stessaluna-exercise-default-bg;
                    }
                }
            }
        }
    }

    .moreIcon {

        svg {
            width: 22px;
            height: 22px;

            path {
                fill: grey;
            }

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;
                    color: $brand-light;

                    path {
                        fill: $brand-light;
                    }
                }
            }
        }
    }
}
