@import '../../../../css/colors';

.sentence {

    hyphens: auto;

    .a {
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: 1px;
        margin-left: 1px;
    }

    .b {
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        margin-right: 1px;
        padding-left: 1px;
    }

    .a,
    .b {
        display: inline-block;
        color: $stessaluna-exercise-default;
        background: $stessaluna-exercise-default-bg;
        border: 1px solid $stessaluna-exercise-default;

        user-select: none;

        &:not(.disabled) {
            &:hover {
                cursor: pointer;
                background-color: $stessaluna-exercise-selected-bg;
            }
        }

        &.disabled {
            opacity: 0.6;
        }

        .label {
            padding: 0 0.4rem;
        }

        .text {
            color: $stessaluna-exercise-default-text;
            padding-right: 0.4rem;
        }

        &.selected {
            color: $stessaluna-exercise-selected;
            border: 2px solid $stessaluna-exercise-selected;
            background: $stessaluna-exercise-selected-bg;

            .text {
                color: $stessaluna-exercise-selected;
            }
        }

        &.correct {
            color: $stessaluna-exercise-correct;
            border: 2px solid $stessaluna-exercise-correct;
            background: $stessaluna-exercise-correct-bg;

            .text {
                color: $stessaluna-exercise-correct;
            }
        }

        &.incorrect {
            color: $stessaluna-exercise-incorrect;
            border: 2px solid $stessaluna-exercise-incorrect;
            background: $stessaluna-exercise-incorrect-bg;

            .text {
                color: $stessaluna-exercise-incorrect;
            }
        }

        &.selected,
        &.correct,
        &.incorrect {
            margin: 0;
            padding: 0;
            opacity: 1;
        }
    }
}