@import '../../../../css/colors';

.sentence {

    hyphens: auto;

    .choiceA,
    .choiceB {
        display: inline-block;
        color: $stessaluna-exercise-default;
        background: $stessaluna-exercise-default-bg;
        border: 1px solid $stessaluna-exercise-default;

        user-select: none;

        cursor: pointer;

        .label {
            padding: 0 0.4rem;
        }

        .text {
            color: $stessaluna-exercise-default-text;
            padding-right: 0.4rem;
        }
    }

    .choiceA {
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: 1px;
        margin-left: 1px;
    }

    .choiceB {
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        margin-right: 1px;
        padding-left: 1px;
    }

    .selected {
        color: $stessaluna-exercise-selected;
        border: 2px solid $stessaluna-exercise-selected;
        background: $stessaluna-exercise-selected-bg;

        margin: 0;
        padding: 0;
    }

    .correct {
        color: $stessaluna-exercise-correct;
        border: 2px solid $stessaluna-exercise-correct;
        background: $stessaluna-exercise-correct-bg;

        margin: 0;
        padding: 0;
    }

    .incorrect {
        color: $stessaluna-exercise-incorrect;
        border: 2px solid $stessaluna-exercise-incorrect;
        background: $stessaluna-exercise-incorrect-bg;

        margin: 0;
        padding: 0;
    }
}