{
    "printWidth": 120,
    "tabWidth": 2,
    "semi": false,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}