@import '../../../css/colors';

.sentence {

    hyphens: auto;

    .choiceA,
    .choiceB {
        display: inline-block;
        color: $stessaluna-aorb-default;
        background: $stessaluna-aorb-default-bg;
        border: 1px solid $stessaluna-aorb-default;

        user-select: none;

        cursor: pointer;

        .label {
            padding: 0 0.4rem;
        }

        .text {
            color: $stessaluna-aorb-default-text;
            padding-right: 0.4rem;
        }
    }

    .choiceA {
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: 1px;
        margin-left: 1px;
    }

    .choiceB {
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        margin-top: 1px;
        margin-bottom: 1px;
        margin-right: 1px;
        padding-left: 1px;
    }

    .selected {
        color: $stessaluna-aorb-selected;
        border: 2px solid $stessaluna-aorb-selected;
        background: $stessaluna-aorb-selected-bg;

        margin: 0;
        padding: 0;
    }

    .correct {
        color: $stessaluna-aorb-correct;
        border: 2px solid $stessaluna-aorb-correct;
        background: $stessaluna-aorb-correct-bg;

        margin: 0;
        padding: 0;
    }

    .incorrect {
        color: $stessaluna-aorb-incorrect;
        border: 2px solid $stessaluna-aorb-incorrect;
        background: $stessaluna-aorb-incorrect-bg;

        margin: 0;
        padding: 0;
    }
}