.exercise {

    .header {
        text-align: center;
        margin-bottom: 0.8rem;
        font-weight: bold;
        font-size: larger;
    }

    .sentenceWrapper {

        display: flex;
        align-items: center;
        justify-content: center;;
        padding-bottom: 0.5rem;

        .index {
            margin-right: 0.3rem;
        }
    }
}