.newPost {

    .inputBox {
        border: 1px solid #ced4da;

        border-radius: 0.5rem;
        margin-bottom: 1rem;

        overflow: hidden;

        .textInput {
            border: none;
            resize: none;
            margin-bottom: 0.8rem;

            &:focus {
                box-shadow: none;
            }
        }

        .imageInput {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    }

    .images {

        margin-bottom: 0.4rem;

    }

    .error {
        color: #dc3545;
    }
}