<p>To reset your password, click <a href="{{ absolute_url('/reset-password/reset?token=' ~ resetToken.token) }}">here</a>. This link expires in {{ tokenLifetime|date('g') }} hour(s).</p>
<p>Regards,</p>
<p>Stessaluna</p>
