@import '../../css/colors';

.loginPage {

    color: white;

    h4 {
        text-align: center;
        margin-bottom: 1rem;

        .brandText {
            font-family: "Bad Script", sans-serif;
            font-size: 1.3em;
        }
    }

    .logoWrapper {
        text-align: center;
        margin-bottom: 1rem;

        .logo {
            width: 40px;
            height: 40px;
            margin: 5px 0;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .divider {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .line {
            border-top: 1px solid white;
            height: 0;
            flex-grow: 1;
        }

        .text {
            padding: 0 1rem;
        }
    }

    .signupButton {
        width: 100%;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
    }
}

