@import '../../css/colors';

:export {
    stessalunaBrandSecondary: $brand-secondary;
}

.errorMessage {
    color: #dc3545
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    margin-bottom: 3rem;
    text-align: center;
    ;

    color: $brand-primary;
}