.feed {
    .filters {
        margin-bottom: 15px;
    }

    .noPostsFound {
        color: white;
    }

    .loadMoreWrapper {
        text-align: center;
        margin-bottom: 15px;
    }
}

:global {
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-in-out;
    }

    .fade-exit {
        opacity: 1;
    }

    .fade-exit-active {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
}
