
.newCommentForm {
    margin-bottom: 1rem;;

    .new {

        display: flex;
        ;
        align-items: center;

        .inputWrapper {
            flex-grow: 100;

            input {
                width: 100%;
            }
        }
    }

}