@import '../../../css/colors';

.exerciseOption {

    width: 100%;

    .wrapper {
        // to compensate for the 2px border later on
        margin: 1px;

        text-align: center;
        line-height: 2.15;

        border: 1px solid $stessaluna-exercise-default;
        border-radius: 0.5rem;

        background-color: $stessaluna-exercise-default-bg;

        overflow: hidden;


        &:not(.disabled) {
            &:hover {
                cursor: pointer;
                background-color: $stessaluna-exercise-selected-bg;
            }

        }

        &.selected {
            color: $stessaluna-exercise-selected;
            border: 2px solid $stessaluna-exercise-selected;
            background: $stessaluna-exercise-selected-bg;
        }

        &.correct {
            color: $stessaluna-exercise-correct;
            border: 2px solid $stessaluna-exercise-correct;
            background: $stessaluna-exercise-correct-bg;
        }

        &.incorrect {
            color: $stessaluna-exercise-incorrect;
            border: 2px solid $stessaluna-exercise-incorrect;
            background: $stessaluna-exercise-incorrect-bg;

        }

        &.selected,
        &.correct,
        &.incorrect {
            margin: 0;
        }
    }
}