.postHeader {

    display: flex;
    vertical-align: middle;
    margin-bottom: 1rem;

    .avatar {
        margin-top: 5px;
        margin-right: 1rem;
    }

    .userNameTimestampWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .timestamp {
            font-size: 0.8rem;
            color: grey;
        }

        .channelWrapper {
            color: grey;
            //font-size: 0.9rem;

            .channel {
                color: black;
            }

            .countryFlag {
                box-shadow: 0 0 1px grey;
                width: 18px !important;
                height: auto !important;
            }
        }

        .userName {
            font-weight: bold;
        }
        
        .fullName {
            margin-right: 0.3rem;
        }

        .usernameAfterFullName {
            color: grey;
            font-size: 0.9rem;
        }
    }
}