@import '../../../../../css/colors';

.aorbInput {
    flex-grow: 1;
    margin-right: 0.5rem;

    .editorWrapper {
        border: 1px solid #ced4da;
        cursor: text;
    
        .singleSpan {
            display: inline-block;
        }
    
        span {
            outline: none;
        }
    
        .aOrB {
            cursor: default;
        }

        .a,
        .b {
            display: inline-block;
            border: 1px solid $stessaluna-aorb-default;
            background: $stessaluna-aorb-default-bg;

            // i hope this does not break anything in slatejs
            user-select: none;

            cursor: pointer;

            &.correct {
                border: 1px solid $stessaluna-aorb-correct;
                background: $stessaluna-aorb-correct-bg;

                .label {
                    color: $stessaluna-aorb-correct;
                }
            }

            &.incorrect {
                border: 1px solid $stessaluna-aorb-incorrect;
                background: $stessaluna-aorb-incorrect-bg;

                .label {
                    color: $stessaluna-aorb-incorrect;
                }
            }

            .label {
                color: $stessaluna-aorb-default;
                padding: 0 0.4rem;
            }
    
            .content {
                display: inline-block;
                padding-right: 0.4rem;
                color: $stessaluna-aorb-default-text;
            }
        }

        .a {
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }
    
        .b {
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
    
    .actions {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    
    .insertAorb {
        display: flex;
        align-items: center;
    
        div {
            display: flex;
            align-items: center;
    
            label {
                margin-bottom: 0;
                margin-left: 0.3rem;
            }
    
            input {
                width: 100%;
                border: none;
    
                margin-left: 0.3rem;
                margin-right: 0.3rem;
                text-overflow: ellipsis;
            }
        }

        .aInputGroup,
        .bInputGroup {
            color: $stessaluna-aorb-default;
            border: 1px solid $stessaluna-aorb-default;
            background: $stessaluna-aorb-default-bg;

            input {
                padding: 0;
                color: $stessaluna-aorb-default-text;
                background: unset;

                &:focus {
                    outline: none;
                }
            }
        }
    
        .aInputGroup {
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }
    
        .bInputGroup {
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            margin-right: 0.4rem;
        }
    
        .insertButton {
            padding: 0 0.3rem;
        }
    }
    
    .leaf {
    
        // targeting the placeholder text
        span[contenteditable="false"] {
            // overriding the element styles
            vertical-align: unset !important;
        }
    }
    .markAsCorrectHint {
        font-style: italic;
        font-size: 0.85rem;
    }
}
