

.nav {

    color: white;
    margin-bottom: 1.5rem;

    .container {
        height: 40px;

        &>a {
            color: white;
        }
    }

    .accountWrapper {

        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        .avatar {
            width: 30px;
            height: 30px;

            border: solid 2px white;
            border-radius: 50%;
            overflow: hidden;

            margin-right: 0.7rem;

            img {
                width: 100%;
            }
        }

        .userText {

            display: none;

            @media (min-width: 576px) {
                display: inline;
            }
        }
    }
}