@import '../../css/colors';

.nav {
    color: white;
    margin-bottom: 1.5rem;
    padding: 0;

    a {
        color: white;
        text-decoration: none;
    }

    .dropDown {
        a {
            color: #424b52;
        }
    }

    .container {

        // padding: 0.3rem 0;

        &>a {
            color: white;
        }

        .brand {
            padding: 0.5rem 0.5rem;
            font-style: italic;
            a {
                color: $stessaluna-brand-yellow;
            }
        }
    }

    .accountWrapperLarge {

        display: flex;
        align-items: center;

        padding: 0.3rem 0.5rem;

        .avatar {
            width: 30px;
            height: 30px;

            border: solid 2px white;
            border-radius: 50%;
            overflow: hidden;

            margin-right: 0.7rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .userText {
            color: $stessaluna-brand-yellow;
        }
    }

    .accountWrapperSmall {

        display: flex;
        align-items: center;

        padding: 0.3rem 0.5rem;

        &:hover {
            cursor: pointer;
        }

        .avatar {
            width: 30px;
            height: 30px;

            border: solid 2px white;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    .link {
        padding: 0.3rem 0.5rem;

        &:hover {
            cursor: pointer;
            background-color: #424b52;
        }
    }
}
