.aorbExerciseContent {

    .sentenceWrapper {

        display: flex;

        &:not(:last-child) {
            padding-bottom: 0.5rem;
        }

        .index {
            margin-right: 0.3rem;
            line-height: 1.8rem;
            flex-shrink: 0;
        }
    }
}