.aorbInput {
    flex-grow: 1;
    margin-right: 0.4rem;

    .editorWrapper {
        border: 1px solid #ced4da;
        cursor: text;
    
        .singleSpan {
            display: inline-block;
        }
    
        span {
            outline: none;
        }
    
        .aOrB {
            cursor: default;
        }
    
        .a {
            display: inline-block;
            color: green;
            background-color: #e0ffe0;
    
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
    
            .aLabel {
                padding: 0 0.3rem;
            }
    
            .aContent {
                display: inline-block;
                padding-right: 0.4rem;
    
                cursor: text;
            }
        }
    
        .b {
            display: inline-block;
            color: red;
            background-color: #ffe5e5;
    
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    
        .bLabel {
            padding: 0 0.3rem;
        }
    
        .bContent {
            display: inline-block;
            padding-right: 0.4rem;
    
            cursor: text;
        }
    }
    
    .actions {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    
    .insertAorb {
        display: flex;
        align-items: center;
    
        div {
            display: flex;
            align-items: center;
    
            label {
                margin-bottom: 0;
                margin-left: 0.3rem;
            }
    
            input {
                width: 100%;
                border: none;
    
                background-color: inherit;
                margin-left: 0.3rem;
                margin-right: 0.3rem;
            }
        }
    
        .aInputGroup {
            color: green;
    
            input {
                color: green;
                padding: 0;
            }
    
            background-color: #e0ffe0;
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
    
            // margin-left: 1rem;
        }
    
        .bInputGroup {
    
            color: red;
            margin-right: 0.4rem;
    
            input {
                color: red;
                padding: 0;
            }
    
            background-color: #ffe5e5;
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
    
            // margin-right: 1rem;
        }
    
        .insertButton {
            padding: 0 0.3rem;
        }
    }
    
    .leaf {
    
        // targeting the placeholder text
        span[contenteditable="false"] {
            // overriding the element styles
            vertical-align: unset !important;
        }
    }
}
