@import '../../../css/colors';

.whatdoyouseeExercise {

    // TODO: same as AorbExercise? Apply DRY principle?
    .header {
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: larger;
    }

    .imageWrapper {

        margin: 0 1px;
        margin-bottom: 1rem;

        img {
            width: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .option {
        width: 100%;
        text-align: center;
        line-height: 2.15;

        border: 1px solid $stessaluna-exercise-default;
        border-radius: 0.5rem;

        background-color: $stessaluna-exercise-default-bg;

        overflow: hidden;

        &:not(.answered) {
            &:hover {
                cursor: pointer;
                background-color: $stessaluna-exercise-selected-bg;
            }
        }

        &.left {
            // The +1px is to compensate for the border increase later on.
            margin: 1px calc(1px + 0.5rem) 1px 1px;
        }

        &.right {
            // The +1px is to compensate for the border increase later on.
            margin: 1px 1px 1px calc(1px + 0.5rem);
        }

        &.selected {
            color: $stessaluna-exercise-selected;
            border: 2px solid $stessaluna-exercise-selected;
            background: $stessaluna-exercise-selected-bg;
        }

        &.correct {
            color: $stessaluna-exercise-correct;
            border: 2px solid $stessaluna-exercise-correct;
            background: $stessaluna-exercise-correct-bg;
        }

        &.incorrect {
            color: $stessaluna-exercise-incorrect;
            border: 2px solid $stessaluna-exercise-incorrect;
            background: $stessaluna-exercise-incorrect-bg;

        }

        &.selected,
        &.correct,
        &.incorrect {

            // Remove the +1px from earlier
            &.left {
                margin: 0 0.5rem 0 0;
            }

            &.right {
                margin: 0 0 0 0.5rem;
            }
        }
    }
}