$stessaluna-brand-primary: #ffe45b;
$stessaluna-brand-secondary: #464545;

$stessaluna-aorb-default: #6dd0ff;
$stessaluna-aorb-default-bg: #6dd0ff0f;
$stessaluna-aorb-default-text: black;

$stessaluna-aorb-selected: #00b7fd;
$stessaluna-aorb-selected-bg: #d4eeff;

$stessaluna-aorb-correct:#00c300;
$stessaluna-aorb-correct-bg: #00c3000f;

$stessaluna-aorb-incorrect: #ff7676;
$stessaluna-aorb-incorrect-bg: #ff76760f;