$brand-primary: white;
$brand-secondary: #090029;

$stessaluna-exercise-default: #6dd0ff;
$stessaluna-exercise-default-bg: #f7fcff;
$stessaluna-exercise-default-text: black;

$stessaluna-exercise-selected: #00b7fd;
$stessaluna-exercise-selected-bg: #d4eeff;

$stessaluna-exercise-correct:#00c300;
$stessaluna-exercise-correct-bg: #f3fbf2;

$stessaluna-exercise-incorrect: #ff7676;
$stessaluna-exercise-incorrect-bg: #ff76760f;

$stessaluna-grey: #efefef;