.whatdoyouseeExerciseInput {

    .image {

        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .aspectRatioBox {
            position: relative;

            width: 66%;
            padding-top: calc(9 / 16 * 66%);

            // height: 0;
            overflow: hidden;

            .imageInput {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .option {
        margin: 0 0.5rem 1rem 0.5rem;
    }
}