@import '../../css/colors';

.button {
    padding: 0.3rem 0.7rem;
    color: white;

    &.dark {
        background: $brand-secondary;

        &:enabled:hover {
            background-color: black;
        }
    }

    &.light {
        background: $brand-light;

        &:enabled:hover {
            background-color: #2400a7;
        }
    }


    border: none;
    border-radius: 0.5rem;
    outline: none;

    &:disabled {
        opacity: .65;
    }
}