@import '../../css/colors';

.button {
    padding: 0.3rem 0.7rem;
    color: white;
    font-weight: bold;

    border: none;
    border-radius: 0.5rem;
    outline: none;

    &:focus {
        outline: none;
    }

    &.transparent {
        background-color: inherit;
        border: 1px solid white;
    }

    &.dark {
        background-color: $brand-secondary;
    }

    &.light {
        background-color: $brand-light;
    }

    &:enabled:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: .65;
    }
}