@import "assets/css/colors";

.postActions {
    padding: 0 1rem 1rem 1rem;

    display: flex;
    justify-content: flex-start;

    .likeIcon, .dislikeIcon {
        .voted {
            path {
                stroke: $brand-light;
            }
        }
    }

    .likeIcon, .dislikeIcon, .commentIcon {

        margin-right: 1rem;

        svg {
            width: 22px;
            height: 22px;
            margin-right: 0.3rem;

            path {
                stroke: grey;
            }
        }

        @media (hover: hover) {
            &:hover {
                cursor: pointer;

                svg {
                    path {
                        stroke: $brand-light;
                    }
                }
            }
        }
    }

    .moreIcon {

        svg {
            width: 22px;
            height: 22px;

            path {
                fill: grey;
            }

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;

                    path {
                        fill: $brand-light;
                    }
                }
            }
        }
    }
}
