.missingwordExercise {

    // TODO: same as AorbExercise? Apply DRY principle?
    .header {
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: larger;
    }

    .sentence {
        text-align: center;
        margin-bottom: 1rem;

        div {
            padding: 0.2rem;
        }

        .missingWord {
            font-weight: bold;
            margin: 0.5rem 0;
        }
    }
}