.profilePage {

    color: white;

    .content {
        padding-top: 1rem;
    }

    .imageInput {
        margin: auto;
        margin-bottom: 0.5rem;
    }

    .username {
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .saveButton {
        width: 100%;
        margin-top: 1rem;
    }
}