@import '../../css/colors';

.profilePage {

    color: white;

    .content {
        padding-top: 1rem;
    }


    .avatar {

        display: flex;
        justify-content: center;

        .imageWrapper {
            width: 100px;
            height: 100px;

            border: 2px solid white;
            border-radius: 3rem;
            overflow: hidden;

            label {
                width: 100%;
                height: 100%;
                margin: 0;

                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                }
            }

        }
    }

    .imageInput {
        margin: auto;
        margin-bottom: 0.5rem;

        border: 2px solid white;
    }

    .username {
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .saveButton {
        width: 100%;
        margin-bottom: 1rem;
    }

    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        padding: 0 0.5rem;

        div {
            color: white;
        }
    }

    .alert {
        :global(button.close) {
            span:first-child {
                position: relative;
                top: -1px;
            }
        }
    }
}