
.avatarContainer {
    display: block;
    width: 100px;
    border: 1px solid #ced4da; 

    cursor: pointer;

    .aspectRatioBox {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            max-height: 100%;
        }
    }
}