.menuIcon {

    position: relative;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: grey;

    display: flex;
    align-items: center;
    margin-left: auto;

    cursor: pointer;

    .menuPopup {
        white-space: nowrap;

        position: absolute;

        top: 100%;
        right: 50%;

        color: black;
        background-color: #f5f5f5;

        border: 1px solid #ced4da; 
        border-radius: 3px;

        div {
            padding: 0.2rem 0.5rem;
            cursor: pointer;

            &:hover {
                background: #ced4da;
            }
        }
    }
}