.comment {

    font-size: 0.9rem;
    display: flex;
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    .avatarWrapper {
        margin-top: 4px;
        margin-right: 0.7rem;
    }

    .header {
        .userName {
            margin-right: 0.3rem;
        }

        .timestamp {
            color: grey;
        }
    }


    .text {
        color: grey;
    }

    .icons {

        display: flex;
        justify-content: flex-start;

        .likeIcon, .dislikeIcon {

            margin-right: 0.5rem;

            svg {
                width: 16px;
                height: unset;
                margin-right: 0.3rem;

                path {
                    stroke: grey;
                }

                &:hover {
                    cursor: pointer;

                    path {
                        stroke: black;
                    }
                }
            }
        }

        .moreIcon {

            svg {
                width: 16px;
                height: unset;

                path {
                    fill: grey;
                }

                &:hover {
                    cursor: pointer;

                    path {
                        fill: black;
                    }
                }
            }
        }
    }
}