.comment {

    font-size: 0.9rem;
    display: flex;
    margin-top: 0.5rem;

    .authorTextTimestamp {
        margin-right: 1rem;
        flex-grow: 1;
    }

    .threeDotsMenu {
        margin: 0 0.4rem;

        .iconWrapper {
            cursor: pointer;
            padding: 0 0.2rem;
        }
    }

    // .avatar {
    //     margin-right: 0.7rem;

    //     flex-basis: 40px;
    //     flex-shrink: 0;
    //     height: 40px;
    //     border: 1px solid #343a40;
    //     border-radius: 50%;
    //     overflow: hidden;

    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }

    .content {

        // Needed to align with the new comment form
        margin-left: 0.2rem;
        padding-left: 1px;

        flex-grow: 1;

        .author {
            color: black;
            margin-right: 0.4rem;
        }

        .text {
            color: grey;
            word-break: break-word;
        }

        .timestamp {
            font-size: 0.7rem;
            color: grey;
        }
    }

}