.newPostForm {

    textarea {
        resize: none;
    }

    .imageInput {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .imageUpload {
        display: block;
        position: relative; 

        width: 30%;
        padding-top: 30%;

        @media (min-width: 768px) {
            width: 50%;
            padding-top: 50%;
        }

        .imageUploadBox {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #f1f1f1;
            border: 1px solid #ced4da;
            border-radius: .25rem;

            background-size: cover;
            background-position: center;
        }
    }
}