@import "../../css/colors";

.post {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    margin-bottom: 15px;

    background-color: white;

    .content {
        padding: 1rem;
        word-break: break-word;


        .imageWrapper {

            .aspectRatioBox {
                position: relative;

                width: 100%;
                padding-top: calc(9 / 16 * 100%);

                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    border-radius: 0.5rem;
                }
            }
        }

        .deleteButton:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }

}
