.post {

    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;

    .threeDotsMenu {
        margin-left: auto;

        .iconWrapper {
            cursor: pointer;
            padding: 0 0.2rem;
        }
    }

    .content {
        padding: 1rem;
        word-break: break-word;

        .header {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            margin-bottom: 1rem;

            .usernameTimestampWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .timestamp {
                    font-size: 0.7rem;
                    color: grey;
                }

                .fullName {
                    margin-right: 0.3rem
                }

                .usernameAfterFullName {
                    color: grey;
                    font-size: 0.9rem;
                }
            }

        }

        .image {
            width: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        .deleteButton:hover {
            cursor: hand;
            cursor: pointer;
            opacity: .6;
        }

    }

    .activity {
        display: flex;
        justify-content: flex-end;

        padding: 0.5rem 1rem;

        .numberOfComments {
            cursor: pointer;
        }
    }

    .actions {
        border-top: 1px solid #ced4da;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        display: flex;
        justify-content: space-evenly;

        .addComment {
            cursor: pointer;

            .commentIcon {
                margin-right: 0.4rem;

                svg {
                    vertical-align: -0.18rem;
                }

            }
        }
    }
}