.post {
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 1px solid #ced4da;

    .postHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.4rem;
    }

    .postTimestamp {
        font-size: 0.6rem;
    }

    .postText {
        margin-bottom: 0.4rem;
    }

    .deleteButton:hover {
        cursor: hand;
        cursor: pointer;
        opacity: .6;
    }

    img {
        width: 100%;
    }
}
