@import "assets/css/colors";

.commentToolbar {

    display: flex;
    justify-content: flex-start;

    button {
        background: none;
        border: none;
        padding: 0;
        outline: none;

        &:disabled {
            color: unset;
        }
    }

    .likeIcon, .dislikeIcon, .moreIcon {
        display: flex;
        align-items: center;
    }

    .likeIcon, .dislikeIcon {

        margin-right: 0.5rem;

        svg {
            width: 16px;
            height: unset;
            margin-right: 0.3rem;

            path {
                stroke: grey;
            }
        }

        &.voted {
            color: $brand-light;

            svg {
                path {
                    stroke: $brand-light;
                    fill: $stessaluna-exercise-default-bg;
                }
            }
        }

        &:not(:disabled) {
            @media (hover: hover) {
                &:hover {
                    color: $brand-light;

                    svg {
                        path {
                            stroke: $brand-light;
                            fill: $stessaluna-exercise-default-bg;
                        }
                    }
                }
            }
        }
    }

    .moreIcon {

        svg {
            width: 16px;
            height: unset;

            path {
                fill: grey;
            }

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;

                    path {
                        fill: $brand-light;
                    }
                }
            }
        }
    }
}
