
.channelFilter {

    .button {
        background: none;

        color: rgba(255, 255, 255, 0.7);
        border: 2px solid rgba(255, 255, 255, 0.7);

        border-radius: 2rem;
        padding: 0.2rem 0.9rem;

        &:focus {
            outline: none;
        }

        &.on {
            color: white;
            border-color: white;
        }

        .languageIcon {
            margin-right: 0.4rem;
        }
    }
}

