.imagePreview {

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 0.5rem;
    border: 1px solid transparent;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: inherit;
    }

    &:hover img {
        opacity: 0.3;
        transition: 0.3s;
    }

    .imageOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;

        opacity: 0;

        &:hover {
            border: 1px solid #ced4da;
            opacity: 1;
            transition: 0.3s;
        }

        .removeIcon {
            color: black;
            z-index: 1;
            font-size: 1rem;
            line-height: 1rem;

            cursor: pointer;

            position: absolute;
            top: 8px;
            right: 10px;

            &::after {
                // increase clickable area without changing layout
                content: "";
                padding: 1rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}