.choiceA {
    display: inline-block;
    color: green;
    border: 1px solid green;
    // background-color: #e0ffe0;

    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    padding: 0 0.3rem;
}

.choiceB {
    display: inline-block;
    color: red;
    border: 1px solid red;
    // background-color: #ffe5e5;

    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    padding: 0 0.3rem;
}

.choiceLabel {
    padding-right: 0.3rem;
}
