@import '../../../css/colors';

.choiceA,
.choiceB {
    display: inline-block;
    color: $stessaluna-aorb-default;
    border: 1px solid $stessaluna-aorb-default;

    padding: 0 0.3rem;

    .label {
        padding-right: 0.3rem;
    }

    .text {
        color: $stessaluna-aorb-default-text;
    }
}

.choiceA {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.choiceB {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.sentence {
    padding-bottom: 0.5rem;

    .index {
        font-family: sans-serif;
    }
}