.textContent {

    .text {
        margin-bottom: 1rem;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .image {
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
