@import "../../../../css/colors";


.commentSection {
    border-top: 1px solid #ced4da;
    padding: 1rem;

    .locked {
        text-align: center;
        color: grey;

        .icon {
            margin-right: 0.5rem;
        }
    }

    .showAll {
        display: flex;
        text-align: center;
        margin-bottom: 0.5rem;

        .button {

            font-size: 0.8rem;
            color: grey;

            &:hover {
                cursor: pointer;
                color: black;
            }
        }

    }
}